//DAC Factory colors
$primary   = #EEC718
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037
$dark = #393D46
$bg1 = #1a3240
$bg2 = #2A566F
$text1 = rgba(255,255,255,0.9)
$text2 = rgba(255,255,255,0.7)

//not used, use these if you need more colors
$secondary = #26A69A
$tertiary  = #555
$neutral   = #E0E1E2